<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :title, autofocus: true, autocomplete: "title", type: "text", placeholder: "Title", class: "input"  %>
  </div>

  <div class="field">
    <%= form.text_field :description, autocomplete: "description", type: "text", placeholder: "Description", class: "input"  %>
  </div>

  <div class="field">
    <%= form.text_field :category, autocomplete: "category", type: "text", placeholder: "Category", class: "input"  %>
  </div>

  <div class="field">
    <%= form.text_field :author, autocomplete: "author", type: "text", placeholder: "Author", class: "input"  %>
  </div>

  <div class="field">
    <%= form.text_field :publication_date, autocomplete: "publication_date", placeholder: "Publication Date", type: "date", class: "input"  %>
  </div>

  <div class="field">
    <%= form.text_field :publishing_company, autocomplete: "publishing_company", type: "text", placeholder: "Publishing Company", class: "input"  %>
  </div>

  <div class="submit">
    <%= link_to books_path do %>
      <button class="button-return">
        Return
      </button>
    <% end %>
  
    <button class="button-submit">
      Save
    </button> 
  </div>
  
<% end %>
