<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Description</th>
      <th>Category</th>
      <th>Author</th>
      <th>Puclication date</th>
      <th>Publishing company</th>
      <th colspan="2">
        <%= link_to new_book_path do %>
          <i class='bx bx-plus' ></i>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td>
          <%= link_to book do %>
            <i class='bx bx-show'></i>
          <% end %>
        </td>
        <td><%= book.title %></td>
        <td><%= book.description %></td>
        <td><%= book.category %></td>
        <td><%= book.author %></td>
        <td><%= book.puclication_date %></td>
        <td><%= book.publishing_company %></td>
        <td>
          <%= link_to edit_book_path(book) do %>
            <i class="bx bx-edit" ></i>
          <% end %>
        </td>
        <td>
          <%= link_to book, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class='bx bx-x'></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
