<h1>Books</h1>




<%= render partial: 'search' %>


<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Title</th>
      <th>Description</th>
      <th>Category</th>
      <th>Author</th>
      <th>Puclication date</th>
      <th>Publishing company</th>
      <th colspan="2">
        <% if current_user.role == "librarian" %>
          <%= link_to new_book_path do %>
          <i class='bx bx-plus' ></i>
        <% end %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td>
          <%= link_to book do %>
            <i class='bx bx-show'></i>
          <% end %>
        </td>
        <td><%= book.id %></td>
        <td><%= book.title %></td>
        <td><%= book.description %></td>
        <td><%= book.category %></td>
        <td><%= book.author %></td>
        <td><%= book.puclication_date %></td>
        <td><%= book.publishing_company %></td>
        <td>
          <% if current_user.role == "librarian" %>
            <%= link_to edit_book_path(book) do %>
              <i class="bx bx-edit" ></i>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if current_user.role == "librarian" %>
            <%= link_to book, method: :delete, data: { confirm: 'Do you really want to delete this book?' } do %>
              <i class='bx bx-x'></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
