<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book.category %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Puclication date:</strong>
  <%= @book.puclication_date %>
</p>

<p>
  <strong>Publishing company:</strong>
  <%= @book.publishing_company %>
</p>

<br> 

<%= link_to books_path do %>
  <i class='bx bx-left-arrow-alt'></i>
<% end %>
