<h1><%= controller_name.titleize %></h1>

<div>
  <strong>Title:</strong>
  <%= @book.title %>
</div>

<br> 

<div>
  <strong>Description:</strong>
  <%= @book.description %>
</div>

<br> 

<div>
  <strong>Category:</strong>
  <%= @book.category %>
</div>

<br> 

<div>
  <strong>Author:</strong>
  <%= @book.author %>
</div>

<br> 

<div>
  <strong>Puclication date:</strong>
  <%= @book.publication_date %>
</div>

<br> 

<div>
  <strong>Publishing company:</strong>
  <%= @book.publishing_company %>
</div>

<br> 


<%= link_to books_path do %>
  <button class="button-return">
    Return
  </button>
<% end %>
