<%= form_with(model: reservation) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.collection_select :book_id, Book.select("id, title"), :id, :title, {prompt: "Select Book"} %>
  </div>

  <div class="field">
    <%= form.collection_select :user_id, User.select("id, name"), :id, :name, {prompt: "Select User"} %>
  </div>

  <div class="field">
    <%= form.text_field :booking_date, autocomplete: "booking_date", type: "booking_date", placeholder: "Booking Date", class: "input"  %>
  </div>

  <div class="field">
    <%= form.text_field :return_date, autocomplete: "return_date", type: "return_date", placeholder: "Return Date", class: "input"  %>
  </div>

  <div class="field select">
    <%= form.select :booking_status, options_for_select(Reservation.booking_statuses.map {|key, value| [key.titleize, Reservation.booking_statuses.key(value)]}, Reservation.booking_statuses), {prompt: "Select Status"} %>
  </div>

  <div class="submit">
    <%= form.submit %>
  </div>
<% end %>
