<h1><%= controller_name.titleize %></h1>

<%= render partial: 'search' %>

<table>
  <thead>
    <tr>
      <th style="width: 1%"></th>
      <th style="width: 2%">Id</th>
      <th>Book</th>
      <th>User</th>
      <th>Booking status</th>
      <th>Booking date</th>
      <th>Return date</th>
      <th>Created_at</th>
      <th colspan="2">
        <%= link_to new_reservation_path do %>
          <i class='bx bx-plus' ></i>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
    
      <tr>
        <td>
          <%= link_to reservation do %>
            <i class='bx bx-show'></i>
          <% end %>
        </td>
        <td><%= reservation.id %></td>
        <td><%= reservation.book.title %></td>
        <td><%= reservation.user.name %></td>
        <td><%= reservation.booking_status %></td>
        <td><%= reservation.booking_date.to_date.to_s(:rfc822) %></td>
        <td><%= reservation.return_date.to_date.to_s(:rfc822) %></td>
        <td><%= reservation.created_at.to_s(:short) %></td>
        <td>
          <%= link_to edit_reservation_path(reservation) do %>
            <i class='bx bx-edit'></i>
          <% end %>
        </td>
        <td>
          <%= link_to reservation, method: :delete, data: { confirm: 'Do you really want to delete this reservation?' } do %>
            <i class='bx bx-x'></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @reservations %>