<h1><%= controller_name.titleize %></h1>

<div>
  <strong>Booking date:</strong>
  <%= @reservation.booking_date %>
</div>

<br> 

<div>
  <strong>Return date:</strong>
  <%= @reservation.return_date %>
</div>

<br> 

<div>
  <strong>Booking status:</strong>
  <%= @reservation.booking_status %>
</div>

<br> 

<div>
  <strong>Book:</strong>
  <%= @reservation.book_id %>
</div>

<br> 

<div>
  <strong>User:</strong>
  <%= @reservation.user_id %>
</div>

<br> 

<%= link_to books_path do %>
  <button class="button-return">
    Return
  </button>
<% end %>
