<p>
  <strong>Booking date:</strong>
  <%= @reservation.booking_date %>
</p>

<p>
  <strong>Return date:</strong>
  <%= @reservation.return_date %>
</p>

<p>
  <strong>Booking status:</strong>
  <%= @reservation.booking_status %>
</p>

<p>
  <strong>Book:</strong>
  <%= @reservation.book_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @reservation.user_id %>
</p>

<br> 

<%= link_to reservations_path do %>
  <i class='bx bx-left-arrow-alt'></i>
<% end %>
